.App{
  background-color: #a39d9d;
  display: grid;
  width: 100%;
  min-height: 100vh; 
  
}
.Header{
  background-color:White;
  top:5px;
  width: 99%;
  left:0.5%;
  position:relative;
  box-shadow: 2px 2px 8px 5px #888888;
  display: grid;
  border-style: outset;
  border-bottom: 5px solid rgb(15, 192, 246);
}
.grid-item1{
  background-color:#2c2b2b;
  padding:100px;
  
}
.Title{
  color:White
}
.ComponentPositionForLogin{
position: absolute;
left: 550px;
}